db.sqlite3
service/migrations
Procfile
venv
.env
cert.pem
key.pem
# dev.py
/images/
/staticfiles/images/images/
service/__pycache__/
service/migrations/__pycache__/
service/management/__pycache__/
cronyGlasses/__pycache__/
cronyGlasses/settings/__pycache__/