db.sqlite3
service/migrations
Procfile
venv
.env
cert.pem
key.pem
# dev.py
/images/
/media/
/staticfiles/images/images/
backend/service/__pycache__/
backend/service/migrations/__pycache__/
backend/service/management/__pycache__/
backend/service/management/commands/__pycache__/
backend/service/tests/__pycache__/
backend/cronyGlasses/__pycache__/
backend/cronyGlasses/settings/__pycache__/
backend/cronyglasses.json
backend/test.py
