db.sqlite3
service/migrations
Procfile
venv
.env
*.pem
*.json
# dev.py
/images/
/media/
/staticfiles/images/images/
backend/service/__pycache__/
backend/service/migrations/__pycache__/
backend/service/management/__pycache__/
backend/service/management/commands/__pycache__/
backend/service/tests/__pycache__/
backend/cronyGlasses/__pycache__/
backend/cronyGlasses/settings/__pycache__/
backend/cronyglasses.json
backend/datadump.json
*.pyc
backend/service/migrations/__pycache__/0001_initial.cpython-310.pyc
backend/data.json
