@media only screen and (min-device-width: 320px) and (max-device-width: 1024px){
    html{
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
}

@media screen and (min-device-width: 320px) and (max-device-width: 425px){
    html{
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.social_icons{
    display: none;
}

.full-logo{
    padding-left: 40px;
}

.menu-items{
    padding-left: 0px;
}

#navlist a {
    font-size: 13px;
}

.mySlides img{
    height: 200px;
    width: 100%;
    margin-top: 40px;
}

.prev, .next {
    font-size: 9px;
    position:absolute;
}

.next{
    margin-right: 30px;
}

.search{
    margin-top: 15px;
    padding-left: 20px;
}

.search button{
    background-color: #beb3b3;
    margin: 0;
    padding: 0;
    margin-top: 7px;
    margin-left: 5px;
}

.dot{
    height: 10px;
    width: 10px;
}


/* ---------product section ------------- */


.product-sec{
    margin-left: 30px;
    margin-bottom: 0;
}

.product{
    float:left;
}

.product-img img{
    height: 150px;
    margin-left: 0;
    margin-top: 30px;

}

.product-name{
    padding-left: 27px;
}

.price{
    padding-left: 27px;
}

.add-to-cart-btn{
    margin: 0;
}

.button{
    font-size: 14px;
    padding: 2px 2px;
    margin-top: 10px;
    margin-left: 27px;

}

/* ------------Signup Section ------------- */



.signup-container{
    height: 340px;
}


.signup-box{
    margin-left: 40px;
    width: 80%;

}


/* ------------- Footer Section---------- */

.footer{
    height: 500px;
}


.footer-logo{
    width: 100%;
    height: 130px;
}

.footer-logo img{
    margin-left: 110px;
    height: 150px;
}


.legal{
    height: 100px;
    width: 50%;
    float: left;
}

.legal span{
    font-size: 12px;
}

.legal-items li{
    display: list-item;
    font-size: 12px;
    line-height: 40px;
    color: rgb(234, 222, 222);  
  }

  .get-in-touch{
    height: 100px;
    width: 50%;
    float: left;
}

.get-in-touch span{
    font-size: 12px;
}

.copyright{
    float: left;
    font-size: 12px;
    width: 50%;
    margin-top: 140px;
    padding-left: 14px;
}

.payment-icons img{
    float: left;
    margin-top: 140px;
    height: 15px;
    width: 50px;
    margin-left: 40px;
}

}