{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<head>
  <title>Cart - CronyGlasses</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/cart.css' %}">
</head>
{% endblock extrahead %}

{% block content %}
  <h1>Your Cart</h1>
  {% if cart_items %}
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      {% include 'service/cart_item.html' %}
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6">
        <a href="{% url 'home' %}" class="btn btn-secondary">Continue Shopping</a>
      </div>
      <div class="col-md-6 text-right">
        <h2>Subtotal: ${{ cart_total }}</h2>
        <form method="POST" action="{% url 'checkout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-success">Checkout</button>
        </form>
        <br>
        <form method="POST" action="{% url 'paypal_checkout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Pay with PayPal</button>
        </form>
      </div>
    </div>
  {% else %}
  <section class="checkout-section">
    <p>Your cart is empty.</p>
    <div class="col-md-6">
      <a href="{% url 'home' %}" class="btn btn-secondary">Continue Shopping</a>
    </div>
  </section>
  {% endif %}
{% endblock %}
