{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block extrahead %}
<head>
  {% if request.user.is_authenticated %}
  <title>{{request.user.first_name}} Dashboard</title>
  {% else %}
  <title>Login - CronyGlasses</title>
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/register.css' %}">

</head>
{% endblock extrahead %}
<html> 
 
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
           
            <form method="POST">
              {% csrf_token %}
              <h2 class="card-title mb-4">Log in to CronyGlasses</h2>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
              <h5>Don't have an account yet? <h4>Signup <a href="{% url 'register' %}">here</a></h4></h5>
        
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}