{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<head>
  <title>Payments - CronyGlasses</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/checkout.css' %}">
  </head>
{% endblock extrahead %}

{% block content %}{% if product %}
<h2>{{ product.name }}</h2>
<p>Price: {{ product.price }}</p>
{% else %}
<h2>Cart Checkout</h2>
<ul>
  {% for item in cart.order_items.all %}
    <li>{{ item.product.name }} x {{ item.quantity }}</li>
  {% endfor %}
</ul>
<p>Total: {{ total }}</p>
{% endif %}

<form method="post" action="https://www.paypal.com/cgi-bin/webscr">
{% csrf_token %}
{{ form.render }}
<input type="submit" value="Pay with PayPal">
</form>
{% endblock %}