{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

<head>
    <title>{{drink}} - CronyGlasses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/product.css' %}">
  
    {% endblock extrahead %}
  </head>

  {% block content %}
  <div class="container my-4">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <img src="{{ drink.image.url }}" alt="{{ drink.name }}" class="img-fluid rounded">
      </div>
      <div class="col-md-6">
        <h2 class="mb-3">{{ drink.name }}</h2>
        <p class="text-muted mb-2">R-{{ drink.price}}</p>
        <p class="text-muted mb-4">{{ drink.description }}</p>
        <form method="POST" action="{% url 'add_to_cart' drink.id %}"> 
          {% csrf_token %}
          <div class="d-flex justify-content-between align-items-center mb-4">
            <button type="submit" class="btn btn-primary">Add to cart</button>
            <a href="https://www.paypal.com/" class="btn btn-outline-primary">Pay with PayPal</a>
          </div>
        </form>
        <hr>
      </div>
    </div>
  </div>
{% endblock %}
