{% extends 'base.html' %} {% load static %} {% block extrahead %}

<head>
  <title>{{drink}} - CronyGlasses</title>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'styles/product.css' %}"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
  />
  <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Include Boxicons CSS from CDN -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
  />

  {% endblock extrahead %}
</head>

{% block content %}
<div class="container mt-5 mb-5">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image">
            <img
              src="{{ drink.image.url }}"
              id="main_product_image"
              alt="{{ drink.name }}"
              width="350"
            />
          </div>
          <div class="thumbnail_images">
            <ul id="thumbnail">
              <li>
                <img
                  onclick="changeImage(this)"
                  src="https://i.imgur.com/TAzli1U.jpg"
                  width="70"
                />
              </li>
              <li>
                <img
                  onclick="changeImage(this)"
                  src="https://i.imgur.com/w6kEctd.jpg"
                  width="70"
                />
              </li>
              <li>
                <img
                  onclick="changeImage(this)"
                  src="https://i.imgur.com/L7hFD8X.jpg"
                  width="70"
                />
              </li>
              <li>
                <img
                  onclick="changeImage(this)"
                  src="https://i.imgur.com/6ZufmNS.jpg"
                  width="70"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 right-side">
          <div class="d-flex justify-content-between align-items-center">
            <h3>{{ drink.name }}</h3>
            <span class="heart"><i class="bx bx-heart"></i></span>
          </div>
          <div class="mt-2 pr-3 content"><p>{{ drink.description }}</p></div>
          <h3>${{drink.price}}</h3>
          <div class="ratings d-flex flex-row align-items-center">
            <div class="d-flex flex-row">
              <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
            </div>
            <span>441 reviews</span>
          </div>
          <div class="mt-5">
            <span class="fw-bold">Color</span>
            <div class="colors">
              <ul id="marker">
                <li id="marker-1"></li>
                <li id="marker-2"></li>
                <li id="marker-3"></li>
                <li id="marker-4"></li>
                <li id="marker-5"></li>
              </ul>
            </div>
          </div>
          <div class="buttons d-flex flex-row mt-5 gap-3">
            <form method="post" action="{% url 'paypal_checkout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-dark">
                Buy Now
              </button>
            </form>
            <form method="post" action="{% url 'add_to_cart' drink.id %}">
              {% csrf_token %}<button type="submit" class="btn btn-dark">
                Add to Cart
              </button>
            </form>
          </div>
          <div class="search-option">
            <i class="bx bx-search-alt-2 first-search"></i>
            <div class="inputs"><input type="text" name="" /></div>
            <i class="bx bx-share-alt share"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
