<!-- registration.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
      <label for="{{ form.first_name.id_for_label }}">First Name</label>
      {{ form.first_name }}
    </div>
    <div class="form-group">
      <label for="{{ form.last_name.id_for_label }}">Last Name</label>
      {{ form.last_name }}
    </div>
    <div class="form-group">
      <label for="{{ form.email.id_for_label }}">Email address</label>
      {{ form.email }}
    </div>
    <div class="form-group">
      <label for="{{ form.password1.id_for_label }}">Password</label>
      {{ form.password1 }}
    </div>
    <div class="form-group">
      <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
      {{ form.password2 }}
    </div>
    <div class="form-group form-check">
      {{ form.newsletter }}
      <label class="form-check-label" for="{{ form.newsletter.id_for_label }}">Sign up for our newsletter</label>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </form>
{% endblock %}
