{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/drawable/icon-circle.png' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/50e0af0f47.js" crossorigin="anonymous"></script>
    <script>
        window.onload = function (){
            const menuItems = document.querySelectorAll('.menu-items a');

menuItems.forEach(item => {
  if (item.nextElementSibling) {
    item.addEventListener('click', e => {
      e.preventDefault();
      item.nextElementSibling.classList.toggle('show');
    });
  }
});

        }
    </script>
    {% block extrahead %}{% endblock %}
</head>


<section class="menu-section">
    <div class="top-bar">
        <ul class="social_icons">
            <li><a href="https://twitter.com/freedom_praise"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://github.com/freedompraise"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://linkedin.com/in/praise-dike"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>

        <div class="full-logo">
        <ul class="menu">
            <a href="{% url 'home' %}">
            <img src="{% static '/drawable/icon-circle.png' %}" alt="">
           <h4>CronyGlasses</h4></a>
        </ul>
    </div>

        <div class="top-bar--right-menu">
                <div class="login_btn">
                    <a href="{% url 'login' %}" class="icon-user"><i class="fa-solid fa-user"></i>
                        <span class="login">Login</span>
                </div>
            <div class="cart-container">
                <a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping"></i></a>
                <span class="cart_count">{{total}}</span>
            </div>
        </div>
    </div>
</section>


<section class="main-menu">
    <div id="navlist">
      <div class="menu-items">
        <a href="#">Home</a>
        <a href="#">Our Products</a>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 2</a></li>
            <li><a href="#">Category 3</a></li>
          </ul>
        </li>
        <a href="{% url 'cart' %}">Cart</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
  </section>
  
<main style="padding-top: 150px;">
    {% block content %}
    
    {% endblock %}
    {% block extrabody %}{% endblock %}
</main>

<section>
    <div class="footer">
      <div class="footer-sec1">
        <div class="footer-logo">
          <img src="{% static '/drawable/icon.png' %}">
        </div>
        <div class="get-in-touch">
          <span>GET IN TOUCH</span>
          <ul class="legal-items">
            <li><a href="https://sites.google.com/view/praisedike/about">About Us</a></li>
            <li><a href="mailto:dikepraise119@gmail.com">Contact Us</a></li>
            <li><a href="https://www.bohemiansundays.com.au/pages/shipping-and-returns">Refund Policy</a></li>
          </ul>
          <div>
            <ul class="social_icons_footer">
              <li><a href="https://twitter.com/freedom_praise"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="https://freedompraise.hashnode.dev/"><i class="fa-brands fa-hashnode"></i></a></li>
              <li><a href="https://linkedin.com/in/praise-dike"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-sec2">
        <div class="icon-legal">
          <i class="fa-solid fa-balance-scale"></i>
        </div>
        <div class="payment-icons">
          <a href="https://developer.paypal.com/">
            <img src="{% static '/drawable/paypal.png' %}">
          </a>
        </div>
      </div>
    </div>
  </section>
  