@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

drink-image:hover {
  transform: scale(1.3);
  transition: transform 0.5s ease-in-out;
}

.drink-image-container {
  position: relative;
}

.drink-image {
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.drink-image-container:hover .drink-image {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.zoom-icon {
  color: white;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.drink-image-container:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.drink-image-container:hover .zoom-icon {
  opacity: 1;
}
