*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

body{
    background-color: #cfc2c4;
}

a{
    text-decoration-line: none;
    font-weight: 600;
    color: white;
}


/* --------Menu Section-------- */


.menu-section{
    text-align: center;
    font-size: 12px;
    position: relative;
    width: 100%;
    height: 30;
    line-height: 0;
    z-index: 5000;
    top: 0;
    transition: all .3s linear;
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    line-height: 1.5;
    display: block;
    letter-spacing: 2px;
    text-rendering: optimizeLegibility;
    float: left;
}

.cart_count{
    color: white;
    padding-left: 7px;
}

.top-bar{
    padding-top: 0;
    position: relative;
    transition: padding-top .3s linear;

    float: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(63, 55, 55);
}

ul{
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul li{
    display: inline;
    padding-right: 15px;
    font-size: 18px;
    
}

.top-bar--right-menu{
    margin-right: 10px;
    display: flex;
    text-transform: none;
}

.login{
    font-size: 15;
}

.login_btn{
    margin-top: 13px;
    font-size: 15px;
    margin-right: 25px;
}

.cart-container{
    margin-right: 10px;
    display: flex;
    text-transform: none;
    font-size: 15px;
    font-weight: bold;
    padding-top: 13px;
}

.menu img{
    height: 32px;
    float: left;
    padding-left: 40px;
}

.menu span{
    font-size: 11px;
    /* text-align: center; */
    margin-top: 8px;
    font-weight: 600;
    color: white;
    float: left;
    margin-left: 7px;
}

.full-logo{
    margin-left: -100px;
    padding-bottom: 15px;
}


/* --------- Main Menu Section------------ */

.main-menu{
  height: 60px;
  width: 100%;
  float: left;
}

/* styling navlist */
#navlist {
  background-color: #0e0f0f;
  position: absolute;
  width: 100%;
  height: 45px;
}

/* styling navlist anchor element */
#navlist a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
}
.navlist-right{
  float:right;
}

.menu-items{
  padding-left: 40px;
}

/* styling search bar */
.search input[type=text]{
  width:300px;
  height:30px;
  border-radius:25px;
  border: none;
  padding-left: 10px;
}

.search{
  float:right;
  margin:7px;
  margin-right: 25px;
}

.search button{
  background-color: #0e0f0f;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* ----------Slider Section--------- */



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 85%;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next{
  margin-right: 120px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(58, 57, 57, 0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(165, 163, 163);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img{
    height: 650px;
    width: 100%;
}




/* ---------------- Product Section ---------------- */


.product-sec{
  height: 500px;
  width: 80%;
  margin-top:100px;
  margin-left: 150px;
  float:left;
  align-items: center;
  margin-bottom: 30px;
}

.section-title{
  height: 15%;
  width: 100%;
  text-align: center;
  color: #0e0f0f;
  font-size: 30px;
  font-weight: 600;
}

.line{
  height: 1px;
  width: 100%;
  margin-bottom: 15px;
  background-color: rgb(0, 0, 0);
}

.section_desc{
  color: black;
  text-align: center;
  font-size: 16px;
  height: 30px;
  width: auto;
}

.products{
  height: 375px;
  width: 100%;
  float: left;
}

.product{
  width: 25%;
  float: left;
  height: 100%;
}

.product-img img{
  height: 250px;
  margin-left: 45px;
  padding-top: 40px;
}

.product-name{
  text-align: center;
  height: auto;
  margin-top: 10px;
  font-size: 16px;
}

.price{
  text-align: center;
  height: auto;
  margin-top: 10px;
  font-size: 20px;
}

/* button */

.add-to-cart-btn{
  margin-left: 78px;
  margin-top: 13px;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  color: black;
  background-color: #cac2c2;
  z-index: 1;
  cursor: pointer;
 }
 
 .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
 }
 
 .button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
 .button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }




 /* ------------ Signup Section ---------------- */


 .signup-container{
  height: 300px;
  width: 100%;
  float: left;
  margin-top: 100px;
  background-color: rgb(226, 216, 216);
 }

 .signup-box{
  display:block;
  height: 100%;
  text-align: center;
  width: 30%;
  margin-left: 550px;
}

.subscribe{
  font-size: 30px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* mail box */

.mail-box {
  position: relative;
  margin-top: 35px;
 }
 
 .input {
  border: solid 1.5px #9e9e9e;
  border-radius: 0.5rem;
  background: none;
  padding: 1rem;
  height: 15px;
  width: 70%;
  font-size: 1rem;
  color: #000000;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
 }
 
 /* .user-label {
  position: absolute;
  left: 80px;
  top: -8px;
  color: #000000;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
 } */
 
 .input:focus, input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
  
 }
 
 .input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  padding: 0 .2em;
  color: #2196f3; 
 }

/* select box */



.box select {
  background-color: #4f4f4f;
  color: white;
  padding: 8px;
  width: 240px;
  border: none;
  margin-top: 15px;
  border-radius: 0.5rem;
  font-size: 17px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}


/* signup button */

.signup-btn {
  display: inline-block;
  border-radius: 0.5rem;
  border: none;
  background: #1875FF;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 16px -11px #1875FF;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  margin-top: 30px;
  width: 80%;
  cursor: pointer;
 }
 
 .signup-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
 }
 
 .signup-btn span:after {
  content: 'for free';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
 }
 
 .signup-btn:hover span {
  padding-right: 3.55em;
 }
 
 .signup-btn:hover span:after {
  opacity: 4;
  right: 0;
 }



 /* ------------- Footer Section ------------------- */

.footer{
  height: 350px;
  width: 100%;
  background-color: #000000;
  margin-top: 80px;
  float: left;
}


.footer-sec1{
  height: 270px;
  width: 100%;
}

.footer-logo{
  height: 100%;
  float: left;
  width: 33%;
}

.footer-logo img{
  height: 270px;
  margin-left: 100px;
}

.legal{
  height: 100%;
  width: 25%;
  float: left;
  margin-top: 40px;

}

.legal span{
  color: rgb(234, 222, 222);
  margin-left: 40px;
  font-weight: bolder;
}

.legal-items{
  list-style-type: none;
  font-size: 14px;
  font-weight:lighter;
}

.legal-items li{
  display: list-item;
  font-size: 14px;
  line-height: 40px;
  color: rgb(234, 222, 222);  
}

.get-in-touch{
  height: 70%;
  width: 33%;
  float: left;
  margin-top: 40px;
}


.get-in-touch span{
  color: rgb(234, 222, 222);
  margin-left: 40px;
  font-weight: bolder;
}


.footer-sec2{
  height: 70px;
  width: 100%;
}

.copyright{
  height: 100%;
  width: 50%;
  color: white;
  font-size: 14px;
  padding-left: 160px;
}

.payment-icons{
  float: right;
  height: auto;
  width: 50%;
}

.payment-icons img{
  height: 30px;
  float: right;
  width: 100px;
  margin-right: 500px;
  margin-top: -50px;
  background-color: rgb(235, 225, 225);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  display: block;
}
